<%- title "Which of these breweries are vegan?" %>
<div class="main-container">
  <%= render 'layouts/searchbar' %>

  <section class="space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Breweries</h1>
                            <ol class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li>Breweries</li>
                            </ol>
                            <hr> </div>
                    </div>
                </div>
            </section>

            <section class="bg--secondary">
                <div class="container">
                <%= paginate(@breweries) %>
                    <div class="masonry">
                        <div class="masonry__container row masonry--active">
                        <% @breweries.each do |brewery| %>
                        
                            <div class="col-md-4 masonry__item">
                                <div class="card card-2 text-center">
                                    <div class="card__top">
                                        <%= link_to main_brewery_path(brewery.slug) do %><img alt="Image" src="<%= brewery.brewery_logo.thumb %>" style="<%= brewery_colour_border(brewery) %>"><% end %>
                                    </div>
                                    <div class="card__body">
                                    <%= link_to main_brewery_path(brewery.slug) do %>
                                        <h4><%= brewery.name %></h4> <span class="type--fade"><%= brewery.city %>, <%= brewery.country %></span> </div>
                                    <% end %>
                                </div>
                            </div>
                        
                        <% end %>
                        </div>
                    </div>
                    <%= paginate(@breweries) %>
                </div>
            </section>