<%- title "Are #{@brewery.name} Beers Vegan?" %>

<div class="main-container">
  <%= render 'layouts/searchbar' %>

  <section class="space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= @brewery.name %></h1>
                            <ol class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><%= link_to "Breweries", breweries_path %></li>
                                <li><%= link_to @brewery.name, main_brewery_path(@brewery.slug) %></li>
                            </ol></div>
                    </div>
                </div>
            </section>

<section class="bg--secondary space--xxs">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="card card-2 text-center" style="margin-bottom: 3em;">
          <div class="card__top">
            <a href="#"> <img alt="Image" src="<%= @brewery.brewery_logo.thumb %>"> </a>
          </div>
        </div>
        <div class="text-block side-bar-info">
          <h5> <%= percentage_vegan(@brewery) %> of Beers Vegan </h5>
        </div>
        <div class="text-block side-bar-info">
          <h5>City</h5>
          <hr/>
          <p> <%= @brewery.city %>, <%= @brewery.country %> </p>
        </div>
        <% if @brewery.website.present?%>
        <div class="text-block side-bar-info">
          <h5>Website</h5>
          <hr/>
          <p><a href="http://<%= @brewery.website %>"><%= @brewery.website %></a> </p>
        </div>
        <% end %>
        <div class="text-block side-bar-info social-media-side">
          <h5>Social Media</h5>
          <hr/>
          <p style="font-size: 3em;"> 
            <% if @brewery.facebook.present?%>
            <a href="http://facebook.com/<%= @brewery.facebook %>">
              <i class="fab fa-facebook-square"></i>
            </a>
            <% end %>
            <% if @brewery.twitter.present?%>
            <a href="http://twitter.com/<%= @brewery.twitter %>">
              <i class="fab fa-twitter-square"></i>
            </a>
            <% end %>
            <% if @brewery.instagram.present?%>
            <a href="http://instagram.com/<%= @brewery.instagram %>">
              <i class="fab fa-instagram"></i>
            </a>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
      <%= simple_format(@brewery.description) %>
        <h1>Beers.</h1>
        <% @brewery.beers.order("is_vegan DESC, is_vegetarian DESC, RANDOM()").each do |beer| %>
        <div class="masonry__item col-md-4" style="padding-right: 15px;">
          <div class="card card-2 text-center" style=" <%= vegan_border_colour(beer) %>">
            <div class="card__top">
              <%= link_to main_beer_path(@brewery.slug, beer.slug) do %><img alt="Image" src="<%= beer.beer_image.thumb %>"><% end %>
            </div>
            <div class="card__body">
              <h4><%= beer.name %></h4></div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
<section class="text-center space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Nearby Breweries</h1>
                        </div>
                    </div>
                </div>
</section>
<section class="bg--secondary space--xxs">
<div class="container">
<% if @brewery.geocoded? %>
  <% @brewery.nearbys(100).each do |brewery| %>
            
                    <div class="masonry">
                            <div class="col-md-3 masonry__item">
                                <div class="card card-2 text-center">
                                    <div class="card__top">
                                        <a href="#"> <img alt="Image" src="<%= brewery.brewery_logo %>"> </a>
                                    </div>
                                    <div class="card__body">
                                        <h4><%= brewery.name %></h4> <span class="type--fade"><%= brewery.city %>, <%= brewery.country %></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
  <% end %>
<% end %>
</div>
            </section>