<%= form_with(model: beer, local: true) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :beer_name %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style, id: :beer_style %>
  </div>

  <div class="field">
    <%= form.label :abv %>
    <%= form.text_field :abv, id: :beer_abv %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :beer_description %>
  </div>

  <div class="field">
    <%= form.label :beer_image %>
    <%= form.file_field :beer_image, id: :brewery_brewery_logo %>
  </div>

  <div class="field">
    <%= form.label :is_vegan %>
    <%= form.check_box :is_vegan, id: :beer_is_vegan %>
  </div>

  <div class="field">
    <%= form.label :is_vegetarian %>
    <%= form.check_box :is_vegetarian, id: :beer_is_vegetarian %>
  </div>

  <div class="field">
    <%= form.label :filtered %>
    <%= form.check_box :filtered, id: :beer_filtered %>
  </div>

  <div class="field">
    <%= form.label :bootle_conditioned %>
    <%= form.check_box :bootle_conditioned, id: :beer_bootle_conditioned %>
  </div>

  <div class="field">
    <%= form.label :can_conditioned %>
    <%= form.check_box :can_conditioned, id: :beer_can_conditioned %>
  </div>

  <div class="field">
    <%= form.label :organic %>
    <%= form.check_box :organic, id: :beer_organic %>
  </div>

  <div class="field">
    <%= form.label :gluten_free %>
    <%= form.check_box :gluten_free, id: :beer_gluten_free %>
  </div>

  <div class="field">
    <%= form.label :alcohol_free %>
    <%= form.check_box :alcohol_free, id: :beer_alcohol_free %>
  </div>

  <div class="field">
    <%= form.label :serving_temp %>
    <%= form.text_field :serving_temp, id: :beer_serving_temp %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :brewery_id %>
      <%= form.text_field :brewery_id, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
