<%- title "Is #{@beer.name} by #{@beer.brewery.name} Vegan?" %>
<div class="main-container">
  <%= render 'layouts/searchbar' %>

  <section class="space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= @beer.name %> by <%= @beer.brewery.name %></h1>
                            <ol class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><%= link_to "Breweries", breweries_path %></li>
                                <li><%= link_to @beer.brewery.name, main_brewery_path(@beer.brewery.slug) %></li>
                                <li><%= link_to @beer.name, main_beer_path(@beer.brewery.slug, @beer.slug) %></li>
                            </ol>
                            <hr> </div>
                    </div>
                </div>
            </section>

<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="card card-2 text-center" style="margin-bottom: 3em; <%= vegan_border_colour(@beer) %>">
          <div class="card__top">
            <a href="#"> <img alt="Image" src="<%= @beer.beer_image.thumb %>"> </a>
          </div>
        </div>
        <% if @beer.brewery_confirmed %>
          <div class="text-block">
              <i class="fas fa-check"></i> Brewery Confirmed
          </div>
        <% end %>
        <% if @beer.is_vegan %>
          <div class="text-block" style="margin-top: -0.5em;">
              🌱 Vegan
          </div>
        <% elsif @beer.is_vegetarian %>
          <div class="text-block" style="margin-top: -0.5em;">
              <span class="vegetarianicon">Ⓥ</span> Vegetarian
          </div>
         <% else %>
          <div class="text-block" style="margin-top: -0.5em;">
              <i class="fas fa-times"></i> Not Vegan
          </div>
        <% end %>
        <div class="text-block">
          <h5>Style</h5>
          <p> <%= @beer.style %> </p>
        </div>
        <div class="text-block">
          <h5>ABV</h5>
          <p> <%= @beer.abv %>%</p>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <%= simple_format(@beer.description) %>

      </div>
    </div>
  </div>
</section>
<section class="text-center space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Similar Beers</h1>
                        </div>
                    </div>
                </div>
</section> 