<%- title "Is #{@beer.name} by #{@beer.brewery.name} Vegan?" %>
<div class="main-container">
  <%= render 'layouts/searchbar' %>

  <section class="space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= @beer.name %> by <%= @beer.brewery.name %></h1>
                            <ol class="breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><%= link_to "Breweries", breweries_path %></li>
                                <li><%= link_to @beer.brewery.name, main_brewery_path(@beer.brewery.slug) %></li>
                                <li><%= link_to @beer.name, main_beer_path(@beer.brewery.slug, @beer.slug) %></li>
                            </ol>
                            <hr> </div>
                    </div>
                </div>
            </section>

<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="card card-2 text-center" style="margin-bottom: 3em;">
          <div class="card__top">
            <a href="#"> <img alt="Image" src="<%= @beer.beer_image.thumb %>"> </a>
          </div>
        </div>
        <div class="text-block">
          <h5>Vegan?</h5>
          <p> <%= @beer.is_vegan %> </p>
        </div>
        <div class="text-block">
          <h5>Style</h5>
          <p> <%= @beer.style %> </p>
        </div>
        <div class="text-block">
          <h5>ABV</h5>
          <p> <%= @beer.abv %>%</p>
        </div>
        <div class="text-block">
          <h5>Confirmed</h5>
          <p> <%= @beer.brewery_confirmed %> </p>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <h1>Beers stuff!.</h1>

      </div>
    </div>
  </div>
</section>

<%= link_to 'Edit', edit_beer_path(Beer.find_by(slug: params[:id])) %> |
<%= link_to 'Back', main_brewery_path(@beer.brewery.slug) %>
</div>