<div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs bg--dark">
                    <div class="container">
                        <div class="row">
                        <% cache do %>
                            <div class="col-8 col-md-2 Aligner">
                                <%= link_to root_path do %>
                                <div class="row logo-style mobile-logo">
                                <div class="logo_icon">🍺 </div>
                                <div class="logo_name">Is It Vegan Beer?</div>
                                </div>
                                <% end %>
                            </div>
                            <div class="col-4 col-md-10 text-right Aligner">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"><i class="fas fa-bars"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs bg--dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs col-md-4 Aligner">
                                <div class="bar__module">
                                <%= link_to root_path do %>
                                  <div class="row logo-style">
                                    <div class="logo_icon">🍺 </div>
                                    <div class="logo_name">Is It Vegan Beer?</div>  
                                  </div>
                                  <% end %> 
                                </div>
                            </div>
                            <% end %>
                            <div class="col-lg-9 col-md-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li>
                                            <%= link_to "Beers", beers_path %>
                                        </li>
                                        <li>
                                            <%= link_to "Breweries", breweries_path %>
                                        </li>
                                    <% if user_signed_in? %>
                                      <% if current_user.try(:admin?) %>
                                        <li>
                                            <%= link_to "New Beer", new_admin_beer_path %>
                                        </li>
                                        <li>
                                            <%= link_to "New Brewery", new_admin_brewery_path %>
                                        </li>
                                      <% end %>
                                    <% end %>
                                    </ul>
                                </div>
                                <div class="bar__module">
                                 <% if user_signed_in? %>
                                 <li class="dropdown btn btn--sm type--uppercase" style="transform: none; -webkit-transform: none;"> <span class="dropdown__trigger btn__text">
                                        My Account
                                    </span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-lg-2">
                                                            <ul class="menu-vertical">
                                                                <li><%= link_to "Show Profile", show_profile_path(current_user.username) %></li>
                                                                <hr/>
                                                                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                                                                <% if current_user.try(:admin?) %>
                                                                <hr/>
                                                                <li><%= link_to "Admin", admin_root_path %></li>
                                                                <% end %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn--sm btn--primary type--uppercase" do %>
                                    <span class="btn__text">
                                    Sign Out
                                    <% end %>
                                </span> </a>
                                <% elsif session[:token].present? %>
                                    <%= link_to brewery_admin_path(session[:brewery], session[:token]), class: "btn btn--sm type--uppercase" do %><span class="btn__text">
                                    Brewery Admin
                                </span> <% end %>
                                    <%= link_to clear_path, class: "btn btn--sm btn--primary type--uppercase" do %> <span class="btn__text">
                                    Sign Out
                                </span> <% end %>
                                 <% else %>
                                    <%= link_to new_user_session_path, class: "btn btn--sm type--uppercase" do %><span class="btn__text">
                                    Login
                                </span> <% end %>
                                    <%= link_to new_user_registration_path, class: "btn btn--sm btn--primary type--uppercase" do %> <span class="btn__text">
                                    Sign Up
                                </span> <% end %>
                                <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>