<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Is It Vegan Beer? Vegan & Vegatarian Friendly Beer List" %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Expires" content="30">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="yKCloeQlLLmJ-WHlTTPnyZFBtZBA_PSG5s-fE5mQofk" />
  </head>

  <body>

  
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <link href="https://cdn-vegan-beer.storage.googleapis.com/application.min.css", media: 'all', 'data-turbolinks-track': 'reload' >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= javascript_include_tag "scripts", "data-turbolinks-track" => true  %> 
  </body>
</html>
